@import 'variables.scss';

.attribute {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $light-grey;
  color: $med-grey;
  font-family: $sans-serif;
}

.attribute-label {
  padding: 0px;
}

.attribute-short {
  padding: 0px;
}

.attribute-long {
  padding: 0px;
}

.attribute-link {
  color: $med-grey;
  font-weight: bold;
  text-decoration: none;
}

.attribute-link:hover {
  color: black;
}

.attribute-list-header {
  padding: 0px;
}

.attribute-list {
  padding: 0px;
}

.attribute-list-item {
  padding: 0px;
}

