@import 'variables.scss';

.feature-img {
    background-color: $light-grey;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    -o-background-size: 100% auto; 
}

.feature-img:before {
	display: block;
	content: '';
	// padding-top: 54%; 	/* divide y by x for mobile ratio of x:y */
}

.feature-img .feature-padding {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@media(min-width:1000px) {
    .feature-img {
        margin-top: 0px;
    }
}

