@import 'variables.scss';

.alink {
  float: right;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 10px;
}

.alink-link {
  color: white;
}

.alink-link:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.alink-label {
  float: left;
  margin-left: 5px;
  margin-right: 2px;
}

.alink-image-div {
  float: left;
}

.alink-label::after { /* protects positioning during hover-bold */
  display: block;
  content: attr(content);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}