@import 'variables.scss';

.container-box {
  background-color: white;
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.container-body { /* needs to be made responsive */
  position: absolute;
  min-height: 90%;
  left: 22%;
  right: 22%;
  padding: 20px 40px;
  background-color: white;
}

.title {
  background-color: white;
  color: $scarlet;
  font-family: $variane;
  font-size: 4rem;
  text-align: center;
  padding: 15px;
}

.heading {
  font-weight: bold;
}

.content {
  color: $dark-grey;
}