@import 'variables.scss';

.greeting {
  float: left;
  color: white;
  font-family: $variane;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  margin-left: 1rem;
  margin-top: 1.2rem;
  vertical-align: bottom;
}