@import 'variables.scss';

.logo {
  float: left;
  margin-top: 1rem;
}

.logo-title {
  color: white;
  font-family: $variane;
  font-size: 2.5rem;
}

.logo-title:hover {
  color: $light-grey;
  text-decoration: none;
  cursor: pointer;
}

.logo-image {
  float: left;
  width: 4rem;
}

.logo-image:hover {
  opacity: .8;
  cursor: pointer;
}

/* 
animation: logo-image-spin infinite 20s linear;
@keyframes logo-image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
