@import 'variables.scss';

body {
  background-color: white; /* shows at the bottom */
  padding: 0;
  margin: 0;
  font-family: $sans-serif;
}

.hidden {
  display: none;
}



.show {
  margin: 40px;
}

.show-button {
  background-color: $light-grey;
  color: $med-grey;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 50px; /* something not working here */
  margin-right: 20px;
}

.show-button:hover {
  background-color: $med-grey;
  color: white;
}

