.message-box {
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 40px;
    margin: 30px;
    margin-bottom: 40px;
}

.message-box.error {
    background-color: #fbccb2;
    color: red;
}

.message-box.success {
    background-color: #c5fdae;
    color: #184804;
}

.message-box.hidden {
    display: none;
}

.message {
    float: left;
    padding: 0px;
}

.message-close-button {
    float: right;
    margin: 0px;
    font-weight: bold;
}

.message-close-button:hover {
    cursor: pointer;
    color: black;
}