.navbar {
  background-color: #333;
  height: 60px;
}

.navlink {
  float: right;
  right: 20px;
  padding: 20px;
}

.active {
  font-weight: bold;
}

.navlink Link {
  color: white;
  text-decoration: none;
}

.navlink Link:hover {
  font-weight: bold;
  cursor: pointer;
}

.navlink Link::after { /* protects positioning during hover-bold */
  display: block;
  content: attr(label);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.logo {
  float: left;
  height: 60px;
}

.logo-text {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.logo-image {
  float: left;
  width: 60px;
  margin-top: 10px;
  animation: logo-image-spin infinite 20s linear;
}

@keyframes logo-image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}