.navbar-mine {
  background-color: #333;
  height: 80px;
  z-index: 100;
}

@font-face {
  font-family: 'Variane';
  src: url('../assets/fonts/variane.woff2') format('woff2'),
       url('../assets/fonts/variane.woff') format('woff'),
       url('../assets/fonts/variane.ttf') format('truetype');
}

/* Left side Logo */

.logo {
  float: left;
  height: 60px;
}

.logo-text {
  float: left;
  padding-top: 10px;
}

.logo-title {
  margin-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-family: 'Variane', sans-serif;
  font-size: 3rem;
}

.logo-title:hover {
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

.logo-title:hover .logo-image {
  opacity: .6;
  cursor: pointer;
}

.logo-image {
  /* #15E3EB shoe */
  float: left;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.logo-image:hover {
  opacity: .6;
  cursor: pointer;
}

/* 
animation: logo-image-spin infinite 20s linear;
@keyframes logo-image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

/* Left side Greeting and Login Buttons */

.greeting {
  margin-left: 5px;
  margin-top: 5px;
  color: white;
}

.greeting-text {
  margin-top: 0px;
}

.navbar-mine .button { /* Additional button styling in main.css */
  float: right;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.navbar-mine .button-label {
  float: left;
  margin-left: 5px;
  margin-right: 2px;
}

.navbar-mine .button-image {
  float: left;
  margin-bottom: 5px;
}


/* Right side Navigation links */

.navlink {
  float: right;
  margin-top: 10px;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.navlink:hover {
  font-weight: bold;
  cursor: pointer;
}

.navlink::after { /* protects positioning during hover-bold */
  display: block;
  content: attr(label);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.active {
  font-weight: bold;
}
