.navbar {
  background-color: #333;
  height: 80px;
  z-index: 100;
}

/* Left side Logo */

.logo {
  float: left;
  height: 60px;
}

.logo-text {
  float: left;
  padding-top: 10px;
}

.logo-title {
  margin-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}

.logo-title:hover {
  color: #ddd;
}

.logo-image {
  float: left;
  width: 60px;
  margin-top: 20px;
  animation: logo-image-spin infinite 20s linear;
}

@keyframes logo-image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Left side Greeting and Login Buttons */

.greeting {
  margin-left: 5px;
  margin-top: 5px;
  color: white;
}

.greeting-text {
  margin-top: 0px;
}

.navbar .button { /* Additional button styling in main.css */
  float: right;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.navbar .button-label {
  float: left;
  margin-left: 5px;
  margin-right: 2px;
}

.navbar .button-image {
  float: left;
  margin-bottom: 5px;
}


/* Right side Navigation links */

.navlink {
  float: right;
  margin-top: 10px;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.navlink:hover {
  font-weight: bold;
  cursor: pointer;
}

.navlink::after { /* protects positioning during hover-bold */
  display: block;
  content: attr(label);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.active {
  font-weight: bold;
}
