@import './../main/variables.scss';

.glink {
  float: right;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 10px;
}

.glink-link {
  color: white;
}

.glink-link:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.glink-label {
  float: left;
  margin-left: 5px;
  margin-right: 2px;
}

.glink-image-div {
  float: left;
}

.glink-label::after { /* protects positioning during hover-bold */
  display: block;
  content: attr(content);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}