@import './../main/variables.scss';

.logo {
  float: left;
  margin-top: .8rem;
  margin-left: .8rem;
  margin-right: 0;
  margin-bottom: 0;
}

.logo-title {
  color: white;
  font-family: $variane;
  font-size: 1.5rem;
}

.logo-title:hover {
  color: $light-grey;
  text-decoration: none;
  cursor: pointer;
}

.logo-image {
  float: left;
  width: 3rem;
}

.logo-image:hover {
  opacity: .8;
  cursor: pointer;
}

@media(min-width:576px) {
  .logo {
    margin-top: 1rem;
  }
  
  .logo-title {
    font-size: 2.5rem;
  }
  
  .logo-image {
    width: 4rem;
  }
}
