.App {
  background-color: white; /* only partial background */
  text-align: center;
}

.navbar {
  background-color: #333;
  height: 60px;
}

.navlink {
  float: right;
  right: 20px;
  padding: 20px;
}

.navlink a {
  color: white;
  text-decoration: none;
}

.navlink a:hover {
  font-style: italic; /* affects positioning and moves other link elements */
}

.logo {
  float: left;
  height: 60px;
}

.logo-text {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.logo-image {
  float: left;
  height: 40px;
  padding-top: 10px;
}

.greeting-button {
  padding: 20px;
}

/*

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*/